body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

.header {
    margin-bottom: 20px;
}

.header h1 {
    font-size: 30px;/* اسم المزار */
    color: #40e0d0; /* تركوازي */
}

.header h2 {
    font-size: 25px;/* ادعية شهر رمضان */
    color: #333;
}

.blessing {
    font-size: 18px;
    color: #ff4500; /* لون مميز تحديد التاريخ */
}

.controls {
    margin-top: 10px;
}

.controls p {
    font-size: 18px;/* جحم المتبقي من الشهر */
    color: #FF0000;
}

.honeycomb {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px; /* فاصل بسيط بين الأشكال */
    margin-top: 10px;
}

.day {
    background-color: #40e0d0; /* تركوازي */
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px;
    text-align: center;
    padding: 25px;
    width: 25px; /* حجم الأيقونة */
    height: 25px; /* حجم الأيقونة */
    margin: 2px; /* فاصل بسيط */
}

.day.past {
    background-color: #ffd700; /* أصفر */
}

.day.current {
    background-color: #32cd32; /* أخضر */
}
/* الايقونة المنبثقة*/
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f5f5dc; /* بيجي فاتح */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90vw; /* عرض النافذة بنسبة 90% من عرض الشاشة */
    max-width: 400px; /* أقصى عرض للنافذة */
    max-height: 80vh; /* أقصى ارتفاع للنافذة */
    overflow: auto; /* تمكين التمرير إذا كان المحتوى أكبر من النافذة */
}

.popup-content {
    text-align: center;
    max-height: 70vh; /* ارتفاع مناسب للمحتوى */
    overflow-y: auto; /* تمكين التمرير عند التكبير */
    padding-right: 10px; /* لمنع التداخل مع شريط التمرير */
}

.popup-content p {
    margin: 0;
    padding: 10px 0;
}.popup-content p {
    margin: 0;
    padding: 10px 0;
}

.popup-content {
    text-align: center;
}

.close {
    cursor: pointer;
    float: right;
}

.confirm-button {
    background-color: #32cd32; /* أخضر */
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
